# Import all necessary packages

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras import backend as K
from keras import regularizers
from keras.callbacks import EarlyStopping
import tensorflow as tf
import matplotlib.pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/cap-4611-2021-fall-assignment-4/sample_submission.csv
/kaggle/input/cap-4611-2021-fall-assignment-4/eval.csv
/kaggle/input/cap-4611-2021-fall-assignment-4/train.csv

# Reading Data

In [2]:
df = pd.read_csv('/kaggle/input/cap-4611-2021-fall-assignment-4/train.csv', low_memory=False) # Training Data
test_df = pd.read_csv('/kaggle/input/cap-4611-2021-fall-assignment-4/eval.csv', low_memory=False) # Testing Data
sample_df = pd.read_csv('/kaggle/input/cap-4611-2021-fall-assignment-4/sample_submission.csv', low_memory=False) # Sample Submission

# Exploratory Data Analysis

In [3]:
df.head()

,id,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,10000,4,0,0,0,0,0,0,1,1,...,111,81,0,0,0,3,28,0,0,0
1,10001,5,0,0,0,0,0,0,0,0,...,0,0,0,4,0,45,99,0,0,0
2,10002,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10003,6,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
4,10004,8,0,0,0,0,0,0,0,0,...,133,125,109,90,42,0,0,0,0,0

In [4]:
df.tail()

,id,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
59995,69995,4,0,0,0,0,1,2,0,0,...,0,2,0,18,142,104,61,0,0,0
59996,69996,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,69997,3,0,0,0,0,0,0,0,0,...,54,0,0,0,0,0,0,0,0,0
59998,69998,9,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
59999,69999,4,0,0,0,0,0,0,0,2,...,94,74,0,0,0,0,0,0,0,0

In [5]:
test_df.head()

,id,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,2,...,0,0,0,6,217,220,141,0,0,0
2,2,0,0,0,0,0,1,0,0,0,...,75,74,109,55,0,3,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_df.tail()

,id,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
9995,9995,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
9996,9996,0,0,0,0,0,0,0,0,0,...,0,0,0,9,0,164,173,0,9,0
9997,9997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,102,176,94,0,0,0
9998,9998,0,0,0,0,0,0,1,2,0,...,3,2,0,31,45,34,1,0,0,0
9999,9999,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
sample_df.head()

   id  label
0   0      3
1   1      9
2   2      1
3   3      9
4   4      2

In [8]:
sample_df.tail()

        id  label
9995  9995      8
9996  9996      1
9997  9997      6
9998  9998      5
9999  9999      7

# Feature Engineering

In [9]:
hi = test_df['id']
df.drop(['id'], axis=1)
test_df.drop(['id'], axis=1)

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,2,0,...,0,0,0,6,217,220,141,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,75,74,109,55,0,3,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,9,0,164,173,0,9,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,102,176,94,0,0,0
9998,0,0,0,0,0,0,1,2,0,0,...,3,2,0,31,45,34,1,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
label_names = ['T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat', 'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot']

# Splitting data into training and testing data

In [11]:
X = df.drop(['label'], axis=1)
Y = df['label']
x = X.values
y = Y.values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.10, random_state=42)
x_train = x_train / 255
x_test = x_test / 255

# Building Sequential Model

In [12]:
model = Sequential()
model.add(Flatten(input_shape=(785,)))
model.add(Dense(128, activation='selu'))
model.add(Dense(10))
model.compile(optimizer='adam', loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), metrics=['accuracy'])
model.fit(x_train, y_train, epochs=50)
model.summary()

2021-11-23 00:34:50.467945: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:50.580343: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:50.581174: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:50.583135: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2021-11-23 00:34:50.584367: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:50.585308: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:50.586208: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:52.509930: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:52.510713: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:52.511397: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:937] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2021-11-23 00:34:52.511997: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1510] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 15403 MB memory:  -> device: 0, name: Tesla P100-PCIE-16GB, pci bus id: 0000:00:04.0, compute capability: 6.0
2021-11-23 00:34:53.734460: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/50
1688/1688 [==============================] - 5s 2ms/step - loss: 0.6187 - accuracy: 0.7884
Epoch 2/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.4556 - accuracy: 0.8367
Epoch 3/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.4113 - accuracy: 0.8524
Epoch 4/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.3786 - accuracy: 0.8620
Epoch 5/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.3569 - accuracy: 0.8697
Epoch 6/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.3442 - accuracy: 0.8745
Epoch 7/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.3272 - accuracy: 0.8787
Epoch 8/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.3154 - accuracy: 0.8814
Epoch 9/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.3033 - accuracy: 0.8876
Epoch 10/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2955 - accuracy: 0.8901
Epoch 11/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2872 - accuracy: 0.8928
Epoch 12/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.2751 - accuracy: 0.8974
Epoch 13/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2710 - accuracy: 0.8989
Epoch 14/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2626 - accuracy: 0.9026
Epoch 15/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.2567 - accuracy: 0.9039
Epoch 16/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2511 - accuracy: 0.9055
Epoch 17/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2463 - accuracy: 0.9066
Epoch 18/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.2419 - accuracy: 0.9097
Epoch 19/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2339 - accuracy: 0.9123
Epoch 20/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2266 - accuracy: 0.9155
Epoch 21/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.2248 - accuracy: 0.9157
Epoch 22/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2208 - accuracy: 0.9174
Epoch 23/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2168 - accuracy: 0.9169
Epoch 24/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2097 - accuracy: 0.9205
Epoch 25/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2045 - accuracy: 0.9229
Epoch 26/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2025 - accuracy: 0.9233
Epoch 27/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.2002 - accuracy: 0.9244
Epoch 28/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1938 - accuracy: 0.9259
Epoch 29/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1903 - accuracy: 0.9281
Epoch 30/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1871 - accuracy: 0.9300
Epoch 31/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1841 - accuracy: 0.9301
Epoch 32/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1798 - accuracy: 0.9319
Epoch 33/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1761 - accuracy: 0.9322
Epoch 34/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1765 - accuracy: 0.9335
Epoch 35/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1735 - accuracy: 0.9349
Epoch 36/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1692 - accuracy: 0.9359
Epoch 37/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1659 - accuracy: 0.9373
Epoch 38/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1642 - accuracy: 0.9381
Epoch 39/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1610 - accuracy: 0.9389
Epoch 40/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1575 - accuracy: 0.9390
Epoch 41/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1535 - accuracy: 0.9420
Epoch 42/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1541 - accuracy: 0.9424
Epoch 43/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1514 - accuracy: 0.9431
Epoch 44/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1459 - accuracy: 0.9452
Epoch 45/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1452 - accuracy: 0.9461
Epoch 46/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1420 - accuracy: 0.9466
Epoch 47/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1412 - accuracy: 0.9465
Epoch 48/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1379 - accuracy: 0.9477
Epoch 49/50
1688/1688 [==============================] - 4s 2ms/step - loss: 0.1377 - accuracy: 0.9484
Epoch 50/50
1688/1688 [==============================] - 3s 2ms/step - loss: 0.1368 - accuracy: 0.9484
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten (Flatten)            (None, 785)               0
_________________________________________________________________
dense (Dense)                (None, 128)               100608
_________________________________________________________________
dense_1 (Dense)              (None, 10)                1290
=================================================================
Total params: 101,898
Trainable params: 101,898
Non-trainable params: 0
_________________________________________________________________

# Saving Solution to CSV

In [13]:
solution = np.array(model(test_df.to_numpy())).flatten()
output = pd.DataFrame({'id': hi, 'label': solution[:10000]})
display(output)
output.to_csv('submission.csv', index=False)

print('Your submission was successfully saved') # Asserting submission was successfully saved

        id        label
0        0 -1316.781006
1        1 -4236.448242
2        2  -358.860138
3        3 -1305.854370
4        4   645.816406
...    ...          ...
9995  9995 -1711.438354
9996  9996  -126.247368
9997  9997   965.221008
9998  9998  -164.432007
9999  9999   199.448181

[10000 rows x 2 columns]

Your submission was successfully saved